* {
  box-sizing: border-box;
  outline: none;
}

body {
  font-size: 15px;
  font-family: 'Josefin Sans', 'Avenir', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.4;
  background: #1e0d38;
  color: #fff;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: #8637ff;
}


@media screen and (max-width: 480px) {
  h1,
  h2,
  h3 {
    padding: 0 15px;
  }
}

h1 {
  margin-bottom: 0
}

h3:after {
  content: '';
  display: block;
  height: 6px;
  width: 60px;
  position: relative;
  background: #8637ff;
  margin-top: 1em;
  margin-bottom: 3em;
  border-radius: 10px;
}

.container {
  max-width: 700px;
  margin: auto;
}

#app {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap
}

.guess-pass {
  margin: 0 15px 30px;
  padding: 30px;
  max-width: 100%;
  position: relative;
  background: #fff;
  color: #333;
  border-radius: 1em;
  box-shadow: 0 5px 21px rgba(0, 0, 0, .1);
  transition: all .3s ease;
}

.guess-pass:hover {
  transform: scale(1.1)
}

.pass {
  font-weight: bold;
  word-wrap: break-word;
  font-size: 1.2em;
  border-bottom: 1px dashed #dedede;
  margin-bottom: 1em;
  padding-bottom: 1em;
  cursor: pointer;
  position: relative;
  max-width: 100%;
  display: block;
  border: none;
  padding: 0;
}

.author {
  padding-top: 15px;
  border-top: 1px dashed #e0dede;
}

.posted {
  font-size: .8em;
  font-style: italic;
}


@media screen and (min-width: 481px) {
  #app {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0 -15px;
  }

  .guess-pass {
    border: 1px solid #dedede;
    margin: 0 15px 30px;
    padding: 30px;
    width: calc((100% - 90px) / 3)
  }
}

.tooltip {
  font-size: .8em;
  font-weight: normal;
  background: #000;
  word-wrap: initial;
  position: absolute;
  top: 8px;
  color: #fff;
  padding: 2px 10px;
  border-radius: 20px;
  min-width: 100px;
  user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}

.hidden {
  display: none;
}

/* Loading */
#spinner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  text-align: center;
  z-index: 999;
}

#line-art {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.path {
  stroke-dasharray: 2000;
  stroke-dashoffset: 0;
  animation: dash 5s linear  infinite;
}

@keyframes dash {
  0% {
    stroke-dashoffset: 2000;
  }
  90% {
    stroke-dashoffset: 0;
  }
}

.path2 {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash2 5s linear  infinite;
}

@keyframes dash2 {
  60% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes loaded {
  0% {
    opacity: .5;
    width: 500px;
    height: 500px;
  }

  80% {
    width: 200px;
    height: 200px;
    background: black;
  }

  100% {
    display: none;
    opacity: 0;
    width: 0px;
    height: 0px;
    border-radius: 100%;
    background: black;
  }
}

#spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%)
}

#spinner.loaded {
  animation: loaded .3s linear alternate;
  animation-fill-mode: forwards;
}
